name: Autobahn

on:
  [pull_request, push]

permissions: read-all

jobs:
  autobahn:
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler:
          - "5.1"
        allow-prerelease-opam:
          - true
        opam-repositories:
          - |-
            default: https://github.com/ocaml/opam-repository.git
        # include:
        #   - os: windows-latest
        #     ocaml-compiler: ocaml-variants.5.1.0+options,ocaml-option-mingw
        #     allow-prerelease-opam: false
        #     opam-repositories: |-
        #       windows-5.0: https://github.com/dra27/opam-repository.git#windows-5.0
        #       sunset: https://github.com/ocaml-opam/opam-repository-mingw.git#sunset
        #       default: https://github.com/ocaml/opam-repository.git

    runs-on: ubuntu-latest

    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          allow-prerelease-opam: ${{ matrix.allow-prerelease-opam }}
          opam-repositories: ${{ matrix.opam-repositories }}

      - name: install dependencies
        run: |
          opam pin atacama.0.0.5 git+https://github.com/suri-framework/atacama -y
          opam pin trail git+https://github.com/suri-framework/trail -y

          opam install . --deps-only --with-test
          opam install spawn -y

      - run: opam exec -- dune exec test/autobahn/server.exe

      - name: upload reports
        uses: actions/upload-artifact@v4
        with:
          name: report.html
          path: _build/reports/clients/index.html
